.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}
.book-section-title {
  color: var(--secondary, #463c74);
  font-family: Merriweather;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
}
.book-section-titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.62rem;
  width: 74.937rem;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}
.book-section-viewAll {
  color: var(--Gray-3, #828282);
  font-family: Merriweather;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.075rem;
  cursor: pointer;
}
.book-flex {
  display: flex;
  gap: 4.06rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 74.937rem;
  margin-bottom: 5.06rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.no-data {
  text-align: center;
  color: #000;
  font-family: Merriweather;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05625rem;
  margin: 3rem 0 3rem 0;
}
.pagination {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
.pagination-btn {
  width: 4rem;
  height: 2rem;
  background-color: #b4d51e;
  border: none;
  outline: none;
}
.pagination-active {
  width: 2rem;
  height: 2rem;
  background-color: #463c74;
  color: white;
  border: none;
  outline: none;
}
.pagination-normal {
  width: 2rem;
  height: 2rem;
  background-color: #b4d51e;
  border: none;
  outline: none;
}
